<!DOCTYPE html>
<html>
	<body>
	<header>
		<h2>Select an Option</h2>
	</header>

	<p>Main menu</p>
	
	<nav>
		<ul>
		  <li><a href="/contacts">View all contacts</a></li>
		  <li><a href="/contacts/new">Add a contact</a></li>
		</ul>
	</nav>

	</body>
</html>
