<!DOCTYPE html>
<h1>Create new Contact</h1>

<form action="/contacts" method="post">
	<table>
		<tr>
			<td>First Name: </td>
			<td><input type="text" name="first_name" placeholder="John"></td>
		</tr>
		<tr>
			<td>Last Name: </td>
			<td><input type="text" name="last_name" placeholder="Smith"></td>
		</tr>
		<tr>
			<td>Email: </td>
			<td><input type="text" name="email" placeholder="example@gmail.com"></td>
		</tr>
		<tr>
			<td>Note: </td>
			<td><input type="text" name="note" placeholder="whatever"></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" name="Submit"></td>
		</tr>
	</table>
</form>


