.ontop {	
	font-family: Arial;
	color: #FFFFE6;
	border: 5px solid #4A3D2C;
	background-color: #4A3D2C;
	border-radius: 5px;
	text-align: center;
	font-size: 32px;
	-webkit-text-stroke: 2px #482400;
}

.contactstable {
	margin: auto;
	border-spacing: 40px 10px;
	table-layout: fixed; width: 1000px;

}


.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	border: 2px solid black;
	border-radius: 5px;
	background-color: #FFFFCC;
	
}

.navbar li {
	display: inline;
	font-family: arial;
	margin-right: 15px;
	margin-left: 15px;

}

#viewcontact {

}

body {
	background-color: #246B47;
	text-align: center;

}

.center {
	width:100px;
	margin: auto;
}

.button {
	-webkit-appearance: push-button;
-webkit-rtl-ordering: logical;
-webkit-user-select: none;
-webkit-writing-mode: horizontal-tb;
align-items: flex-start;
background-color: rgb(192, 192, 192);
border-bottom-color: rgb(0, 0, 0);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(0, 0, 0);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(0, 0, 0);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(0, 0, 0);
border-top-style: none;
border-top-width: 0px;
box-sizing: border-box;
color: rgb(0, 0, 0);
cursor: default;
display: inline-block;
height: 18px;
letter-spacing: normal;
line-height: normal;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 8px;
padding-right: 8px;
padding-top: 0px;
text-align: center;
text-indent: 0px;
text-shadow: none;
text-transform: none;
white-space: pre;
width: 94.53125px;
word-spacing: 0px;
writing-mode: lr-tb;
}

ul  {
 padding-left:0;   
}

ul li  {
 list-style-position:inside;
}

form {
	display: inline-block;
	text-align: center;
}


a:link {
    color: black;
    text-decoration: none;
}


a:visited {
    color: black;
    text-decoration: none;
}


a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.button a:hover {
    color: #000000;
    text-decoration: none;
}


a:active {
    color: black;
    text-decoration: none;
}